{:source-paths ["src"]
 :dependencies [[binaryage/devtools "1.0.2"]
                [nrepl "0.8.3"]
                [cljs-http "0.1.46"]
                [reagent "1.0.0"]]
 :builds       {:app {:target     :browser
                      :output-dir "public/js"
                      :asset-path "/js"
                      :modules    {:app {:entries [frontsorter.core]}}
                      :devtools   {:after-load frontsorter.core/mount-root}}}

 :dev-http     {3000 {:root    "public"
                      :handler user/app}}}
