{:source-paths ["src"]
 :dependencies [[binaryage/devtools "1.0.2"]
                [nrepl "0.8.3"]
                [cljs-http "0.1.46"]
                [reagent "1.0.0"]]
 :builds       {:app {:target     :browser
                      :output-dir "public/js"
                      :asset-path "/js"
                      :module-loader true
                      :modules    {:shared {:entries [frontsorter.common]}
                                   :spotify {:entries [frontsorter.spotify] :depends-on #{:shared}}
                                   :item {:entries [frontsorter.item] :depends-on #{:shared}}
                                   
                                   :app {:entries [frontsorter.core]  :depends-on #{:shared}}}
                      :devtools   {:after-load frontsorter.item/mount-root}}}

 :dev-http     {3000 {:root    "public"
                      :handler user/app}}}
