body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

.container {
	width: 100%;
}

.child {
	width: 50%;
	float:left;
}

.button {
	text-align: center;
	padding: 6px;
	border: hsla(0, 100%, 70%, 0.1);
	border-style: solid;
	border-radius: 1px;
	cursor: pointer;
	border-width: thin;
	background-color: hsla(0, 100%, 70%, 0.2);
}

.button:hover {
	border: hsla(0, 100%, 70%, 0.25);
	border-style: none none solid none;
	border-width: thin thin thick thin;
	border-radius: 3px;
	background-color: hsla(0, 100%, 70%, 0.25);
}

.button:active {
	border-style: solid none none none;
	border-width: thick thin thin thin;
}
