body {
/* #font-family: sans-serif; */
}
.appbody {
  max-width: 600px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.sideeffect {
  text-decoration: underline;
}

a.sideeffect:hover {
  text-decoration: underline overline;
}

.container {
	width: 100%;
}

.child {
	width: 50%;
	float:left;
}

.button {
	text-align: center;
	padding: 6px;
	border: hsla(0, 100%, 70%, 0.1);
	border-style: solid;
	border-radius: 1px;
	cursor: pointer;
	border-width: thin;
	background-color: hsla(0, 100%, 70%, 0.2);
}

.button:hover {
	border: hsla(0, 100%, 70%, 0.25);
	border-style: none none solid none;
	border-width: thin thin thick thin;
	border-radius: 3px;
	background-color: hsla(0, 100%, 70%, 0.25);
}

.button:active {
	border-style: solid none none none;
	border-width: thick thin thin thin;
}

.buttonsmaller {
	background: white;

}

.smallbutton {
	background: pink;
}
.smallbutton:hover {
	background: pink;
	color: black;
    text-decoration: underline overline;
}

.dropdown {
	
}
